<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
     <div id="cbc">
        <img src="{{ url_for('static', filename='imagens/logotipo.png') }}" alt="LOGORAA" id="logotRAA">
        <nav class="links">
            <a href="/" class="CBCBT"> INICIO </a>
            <a href="/apresentacao" class="CBCBT"> QUEM SOMOS </a>
            <a href="https://wa.me/qr/IWCJ2MPJQIIOI1" class="CBCBT"> CONTATE-NOS</a>
        </nav>
    </div>

    <section>
        <div id="INTRO-INDEX1">
            <h1>SUA CIDADE ESTÁ ABANDONADA?<br> Não feche os olhos: <br> denuncie, <br> registre <br> mude essa realidade agora. <br> Use RAA.</h1>
            <a href="/cadastro" id="rgbt">COMEÇAR</a>
        </div>
    </section>
</body>
</html>